@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --primary-white: #fff;
  --primary-green: #008037;
  --primary-hover-green: #084222;
  --primary-dark: rgba(255,255,255,0);
  --primary-dark-op: rgba(0, 0, 0, 0.829);
  --primary-dark-op2: rgba(0, 0, 0, 0.103);
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

/****************************** NAVBAR ***************************************/
nav {
  width: 100%;
  position: fixed !important;
  z-index: 1;
}

.logo{
  width: 10rem;
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
}

/*------------NAV LINKS--------------------*/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  border-top: 0.125rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.125rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-top: 0.125rem solid var(--primary-green);
}

.navbar-toggler-icon {
  filter: invert(100%);
  font-weight: 500;
}

.navbar-toggler:focus {
  color: var(--primary-green) !important;
}

/****************************** HEADER ***************************************/

.header-wraper {
  position: relative;
  background: url(./img/bgSetup5.jpg) no-repeat;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-green);
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif !important;
  padding: 0.300rem;
  background-color: var(--primary-dark-op);
  border-radius: 0.200rem;
}


/*----------------TYPED-TEXT-------------------*/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  background-color: var(--primary-dark-op);
  padding: 0.188rem;
  border-bottom: 0.125rem solid var(--primary-green);
  border-radius: 0.200rem;
}

@media(max-width: 600px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important
  }
}

/*----------------HEADER MAIN OFER BTN-------------------*/


.btn-main-offer {
  border: 1px solid var(--primary-green);
  text-decoration: none;
  border-radius: 0.200rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  background-color: var(--primary-hover-green);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/****************************** SOBRE ***************************************/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > h2 {
  text-transform: uppercase;
  margin: 1rem;
  color: var(--primary-green);
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 9.5vh;
  margin-bottom: 9.5vh;
  /* border: 1px solid var(--primary-green) */
}

.content-container img {
  border-radius: 50%;
  border: 0.6rem double var(--primary-hover-green);
  margin-right: 0.6rem;
  width: 22rem;
}


.about-me {
  width: 50%;
  color: var(--primary-dark-op);
  /* position: relative; */
  /* border: 1px solid yellow; */
}

/* .about-me::before {
  display: block;
  content: '';
  border-top: 0.125rem solid var(--primary-hover-green);
  border-left: 0.125rem  solid var(--primary-green);
  position: absolute;
  bottom: 55vh;
  right: 40vw;
  width: 6.25rem;
  height: 6.25rem;
} */

/* .about-me::after {
  display: block;
  content: '';
  border-bottom: 0.125rem  solid var(--primary-hover-green);
  border-right: 0.125rem  solid var(--primary-green);
  position: absolute;
  top: 55vh;
  left: 40vw;
  width: 6.25rem;
  height: 6.25rem;
} */

@media(max-width: 600px) {
  .main-info h1 {
    font-size: 1.6rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important
  }

  .content-container {
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .content-container img {
    width: 15.625rem;
    margin-bottom: 0.9rem;
  }

  .about-me {
    width: 100%;
    text-align: justify;
  }
}

.about-me h3 {
  text-align: center;
  color: var(--primary-hover-green);

}

.quality-hooby {
  display: flex;
  justify-content: space-around;
}

/****************************** HABILIDADES ***************************************/

.habilitys-container{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
  align-items: center;
}

.habilitys-container > h2 {
  color: var(--primary-hover-green);
  /* margin: 1.5rem; */
  border-bottom: 0.188rem double var(--primary-hover-green);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 1.5rem;
  /* border: 2px solid var(--primary-hover-green); */
}

.hability-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 6.25rem;
  height: 7.5rem;
  margin: 0.5rem;
}

.hability-card:hover {
  border: 0.313rem double var(--primary-green);
  border-radius: 10%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /* transition: .2s ease-in-out */
}

.hability-card > img {
  position: absolute;
  width: 4.375rem;
  /* opacity: 0.7; */
}

.hability-card img:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


.exp-container {
  background: var(--primary-dark-op);
}

.exp-container > h2 {
  color: var(--primary-white);
  /* padding: 10px; */
  padding-top: 30px;
  margin: 1.5rem;
  text-align: center;
}

.vertical-timeline-element--work > div{

  border: 0.313rem double var(--primary-hover-green);
  background: var(--primary-dark-op2);
  color: var(--primary-white);
}

.vertical-timeline-element--work > div > ul {
  margin-top: 0.625rem;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  font-size: x-large !important;
  /* height: 50px; */
}