@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --primary-white: #fff;
  --primary-green: #008037;
  --primary-hover-green: #084222;
  --primary-dark: rgba(255,255,255,0);
  --primary-dark-op: rgba(0, 0, 0, 0.8);
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

/****************************** NAVBAR ***************************************/
nav {
  width: 100%;
  position: fixed !important;
  z-index: 1;
}

.logo{
  width: 10rem;
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
}

/*------------NAV LINKS--------------------*/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  /* margin-left: 0.0375rem;
  margin-right: 0.0375rem; */
  color: var(--primary-white) !important;
  border-top: 0.125rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.125rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-top: 0.125rem solid var(--primary-green);
}

.navbar-toggler-icon {
  filter: invert(100%);
  font-weight: 500;
}

.navbar-toggler:focus {
  color: var(--primary-green) !important;
}

/****************************** HEADER ***************************************/
/* header {
  margin-top: 500px !important;
} */

.header-wraper {
  position: relative;
  background: url(./img/bgSetup5.jpg) no-repeat;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-green);
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif !important;
  padding: 0.300rem;
  background-color: var(--primary-dark-op);
  border-radius: 0.200rem;
}


/*----------------TYPED-TEXT-------------------*/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  background-color: var(--primary-dark-op);
  padding: 0.188rem;
  border-bottom: 0.125rem solid var(--primary-green);
  border-radius: 0.200rem;
}

@media(max-width: 600px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important
  }
}

/*----------------HEADER MAIN OFER BTN-------------------*/


.btn-main-offer {
  border: 1px solid var(--primary-green);
  text-decoration: none;
  border-radius: 0.200rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  background-color: var(--primary-hover-green);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/****************************** SOBRE ***************************************/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > h2 {
  text-transform: uppercase;
  margin: 1rem;
  color: var(--primary-green);
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem;
  /* border: 1px solid rgb(101, 19, 168); */
}

.content-container img {
  border-radius: 50%;
  border: 0.6rem double var(--primary-green);
  margin-right: 0.6rem;
  width: 22rem;
}


.about-me {
  /* border: 1px solid orange; */
  width: 50%;
  color: var(--primary-dark-op);
}

@media(max-width: 600px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important
  }

  .content-container {
    flex-direction: column;
  }

  .content-container img {
    width: 15.625rem;
    margin-bottom: 0.9rem;
  }

  .about-me {
    width: 100%;
  }
}

.about-me h3 {
  text-align: center;
  color: var(--primary-green);
}

.quality-hooby {
  display: flex;
  justify-content: space-around;
}