@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-white: #fff;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

/******************************NAVBAR***************************************/
.logo{
  width: 10rem;
}

/*------------NAV LINKS--------------------*/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.0375rem;
  margin-right: 0.0375rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
}